<!doctype html>
<html>
<head>
<title>Upload Files</title>

<link rel="stylesheet" href="webapp/css/bootstrap.css" />
<link rel="stylesheet" href="webapp/css/app.css" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="webapp/js/root.js"></script>
<script src="webapp/js/directive.js"></script>
<script src="webapp/js/service/fileUploadService.js"></script>
</head>

<body ng-app="root">

	<div class="container" ng-controller="uploadController">
		<div class="col-12">
			<input class="file fileinput fileinput-new" type="file" id="file1"
				name="file" multiple ng-files="setFile($files)" /> <input
				type="button" ng-click="uploadFile()" value="Upload" />
		</div>

		<div class="col-12">
<!-- 			<input type="text" ng-model="search.$" /> -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Dowload</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in fileList">
						<td>{{ item.name }}</td>
						<td ng-hide="!item.path">
							<a href="path" download="item.path"> <button>Download</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="webapp/js/controller/UploadController.js"></script>
</body>
</html>